nav {
  background-color: #196725;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

nav a:hover {
  background-color: green;
}

nav li:first-child {
  margin-right: auto;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 200px;
  z-index: 999;
  background-color: #ebfef264;
  backdrop-filter: blur(10px);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  display: none;
}

.sidebar.visible {
  display: flex;
}

.sidebar a {
  color: black;
  width: 100%;
}

.sidebar li {
  width: 100%;
}

.sidebar a:hover {
  color: white;
}

.icon {
  display: none;
}

.burgerIcon {
  display: none;
}

/* Media queries for mobile */
@media screen and (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .burgerIcon {
    display: block;
  }
}
